html {
    width: 350px;
}

body {
    text-align: right;
}

h1 {
    margin-bottom: 0;
    text-align: right;
}

form {
    margin-top: 0;
}

.smallLink {
    color: gray;
    font-size: 10px;
    font-style: italic;
}

.numInput {
    width: 30px;
}

/* Remove spinner from number inputs */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


